@charset "UTF-8";
/*O asterisco generaliza as configurações gerais da página*/
* {
    margin: 0px;
    padding: 0px;
    font-family:Arial, Helvetica, sans-serif;

}
/*configurações para o html e o body da página*/
html , body {
    height: 100vh;
    width: 100vW;
    background-color:black;
}

body {
    background: url('../imagens/fundo-madeira.jpg') 
    no-repeat top center;
    background-size: cover;
    background-attachment: fixed; /*fixa o objeto na tela sem barra de rolagem*/
}

/*O main siginifica a tela principal da página*/
main {
    height: 100vh;
    position: relative;
}
/*Abaixo as configurações para o telefone*/
section#telefone{
    position: absolute; /*centraliza o section na página*/
    top: 50%;
    left: 50%;
    transform:translate(-50%,-50%); /*centraliza a section no meio da tela*/

    height: 627px;/*Usei a propriedade da imagem pra ver a altura e largura correta*/
    width: 311px;
    
    background: url('../imagens/frame-iphone.png') no-repeat;/*usar dois pontos na url para voltar uma pasta*/
}
/*id do iframe tela*/
iframe#tela {
    position: relative;
    top: 80px; /*cabeça da tela*/
    left:22px; /*alinhamento a esquerda da tela*/
    width: 267px; /*largura da tela*/
    height: 471px; /*altura da tela*/
}

/*Colocando as logos que estão na vertical do lado esquerdo*/
section#redes-sociais {
    text-align: right;
}


/*Design dos botões*/
section#redes-sociais img {
    width: 50px; /*estilizando a largura a altura fica na porporção*/
    margin: 10px; /*espaço entre os botões*/
    border-radius: 50%; /*logo redonda*/
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.400);
    /*Logos estilizados na vertical - usei br no arquivo html*/
    box-sizing: border-box; /*botões não se mexem*/

}

section#redes-sociais img:hover {
    border: 2px solid rgba(255, 255, 255, 0.600);
    transform: translate(-3px,-3px); /*botão se mexe*/
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.562);/*faz a sombra quando o botão se mexer*/
    transition: transform 0.3s, border 0.5s; /*velocidade com que botão se mexe e a borda branca aparece*/
}

